h1 {
    text-align: center;
}

.word {
    font-style: italic;
}

section {
    width: auto;
    padding: 2.5em
}

img {
    width: 70%;
    position: relative;
    align-items: center;
    padding: 0.5em;
    border-style: dotted;
}